@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<h1>Hello World!</h1>
<p>Try sending:</p>
<ul>
    <li>HTTP <em>GET /api/todos</em></li>
    <li>HTTP <em>POST /api/todos</em> ({id:Guid, title:string})</li>
</ul>
</body>
</html>
