<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.0" targetFramework="net452" />
  <package id="AutoMapper.EF6" version="1.0.0" targetFramework="net452" />
  <package id="DelegateDecompiler" version="0.23.0" targetFramework="net452" />
  <package id="DelegateDecompiler.EntityFramework" version="0.23.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Hangfire" version="1.6.14" targetFramework="net452" />
  <package id="Hangfire.Core" version="1.6.14" targetFramework="net452" />
  <package id="Hangfire.MemoryStorage" version="1.5.1" targetFramework="net452" />
  <package id="Hangfire.Ninject" version="1.2.0" targetFramework="net452" />
  <package id="Hangfire.SqlServer" version="1.6.14" targetFramework="net452" />
  <package id="LinqKit" version="1.1.9.0" targetFramework="net452" />
  <package id="MediatR" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Experimental.Collections" version="1.0.3-alpha" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net452" />
  <package id="Mono.Reflection" version="1.1.0.0" targetFramework="net452" />
  <package id="morelinq" version="2.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net452" />
</packages>