@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
	        <h1>Revo Blazor Todo list</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
